@page
@model MyPersonalSite.Pages.ContactsModel
@{
    ViewData["Title"] = "My social media accounts";
}
<h2 class="text-black text-center">My socials 🌍</h2>
<hr/>
<h3>You can find me in the following platform</h3>
<ul class="ce"></ul>
