@page
@model MyPersonalSite.Pages.ContactsModel
@{
    ViewData["Title"] = "Social Media Accounts";
}
<h1 class="text-center">Let's stay in touch</h1>
<hr/>
<h3>You can find me in the following platform</h3>
<ul class="ce"></ul>
