@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my website </h1>
</div>

<h1 class="text-center">Welcome to my first website <img src="~/icons/Grinning cat with smiling eyes.png" height="40" width="40" /></h1>