@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 id="header1" class="text-center">Welcome to my first website <img src="~/icons/Grinning cat with smiling eyes.png" height="45" width="45" /></h1>
<br />
<div class="row">
    <div class="col-lg-5">
        <img src="~/img/AvogatoProfilePicture.jpg" alt="A cute hybrid lion-dragon" class="img-fluid float-end img-thumbnail" width="600" height="600"/>
    </div>
    <div class="col-lg-7 pt-4 pt-lg-0 align-content-center" style="font-size:20px">
        Hi, i'm <strong>AvogatoWizardWhisker</strong>, a digital marketer enthusiast and computer
        aficionado, I'm on a quest to conquer the realms of C#, HTML, and CSS.<br /> With a moniker that conjures images of a
        mystical feline wielding a wand in one paw and a ripe avocado in the other,
        he navigates the digital jungle with the kindergarten level of a coder and the skills of a marketer. <br />
        As for lions, did you know that a lion's roar can be so thunderous it can be heard up to 8.04672
        kilometers away? Imagine if they had social media – their posts would literally go viral with every roar!
    </div>
</div>
<hr />

@* <div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/img/AvogatoProfilePicture.jpg" alt="A cute hybrid lion-dragon" class="img-fluid"/>
        </div>
        <br />
        <div class="col-md-8">
            <div class="card-body align-content-center">
                <br />
                <p class="col-lg-7 pt-4 pt-lg-0 align-content-center" style="font-size:20px">
                    Hi, i'm <strong>AvogatoWizardWhisker</strong>, a digital marketer enthusiast and computer
                    aficionado, I'm on a quest to conquer the realms of C#, HTML, and CSS. With a moniker that conjures images of a
                    mystical feline wielding a wand in one paw and a ripe avocado in the other,
                    he navigates the digital jungle with the kindergarten level of a coder and the skills of a marketer.
                    As for lions, did you know that a lion's roar can be so thunderous it can be heard up to 8.04672
                    kilometers away?
                    Imagine if they had social media – their posts would literally go viral with every roar!
                </p>
            </div>
        </div>
    </div>
</div> *@

<div class="card-body">
    <p class="text-center" style="font-size: large">Shout out to <a href="https://github.com/thonkdifferent" target="_blank">thonkdifferent</a> and <a href="https://github.com/TheRealPear" target="_blank">Pear</a> for helping me make this website.</p>
</div>