@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 id="header1" class="text-center">Welcome to my website 😽</h1>
<hr/>
<div class="row">
    <div class="col-lg-5">
        <img src="~/img/dragon-lion-furry.jpg" alt="A cute hybrid lion-dragon" class="img-fluid float-end rounded" width="600" height="600" />
    </div>
    <div class="col-lg-7 pt-4 pt-lg-0 align-content-center" style="font-size:18px">
        <p>
            Hi, i'm <strong><mark>SolusDracoCat</mark></strong>, you can call me Solus. I'm a digital marketer enthusiast and computer
            aficionado, I'm on a quest to conquer the realms of C#, HTML, and CSS.
        </p>
        <p>
            With a moniker that conjures images of a
            mystical feline wielding a wand in one paw and a ripe avocado in the other,
            he navigates the digital jungle with the kindergarten level of a coder and the skills of a marketer.
        </p>
        <p>
            As for lions, did you know that a lion's roar can be so thunderous it can be heard up to 8.04672
            kilometers away? Imagine if they had social media – their posts would literally go viral with every roar!
        </p>
    </div>
</div>
<br/>
<div class="card-body text-center">
    <p class="text-center" style="font-size: large">Shout out to <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://github.com/thonkdifferent" target="_blank">thonkdifferent</a> and <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://github.com/TheRealPear" target="_blank">Pear</a> for helping me make this website.</p>
    <p class="text-secondary">This website has been inspired by <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://heftymouse.me/" target="_blank">Heftymouse's website</a>.</p>
</div>