@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="text-center">Welcome to my first website<img src="~/icons/Grinning cat with smiling eyes.png" height="45" width="45" /></h1>
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/img/AvogatoProfilePicture.jpg" alt="A cute hybrid lion-dragon" class="img-fluid"/>
        </div>
        <br />
        <div class="col-md-8">
            <div class="card-body align-content-center">
                <br />
                <p class="justify-content-lg-center" style="font-size:20px">
                    Hi, i'm <strong>AvogatoWizardWhisker</strong>, a digital marketer enthusiast and computer
                    aficionado, I'm on a quest to conquer the realms of C#, HTML, and CSS. With a moniker that conjures images of a
                    mystical feline wielding a wand in one paw and a ripe avocado in the other,
                    he navigates the digital jungle with the kindergarten level of a coder and the skills of a marketer.
                    As for lions, did you know that a lion's roar can be so thunderous it can be heard up to 8.04672
                    kilometers away?
                    Imagine if they had social media – their posts would literally go viral with every roar!
                </p>
            </div>
        </div>
    </div>
</div>
<div class="card-body">
    <p class="text-center" style="font-size: large">Shout out to <a href="">thonkdifferent</a> and <a href="">Pear</a> for helping me make this website.</p>
</div>