@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-center">@ViewData["Title"] 🔎</h1>
<hr />
<div class="row">
    <div class="col-lg-5 align-content-lg-center">
        <img src="https://i.pinimg.com/originals/63/a6/c3/63a6c356be6f363f27c7592b764dfb69.gif" alt="Cat peeking" class="img-fluid" width="600" height="500"/>
    </div>
    <div class="col-lg-6 pt-3 pt-lg-1 align-content-center">
        <p>
            I believe your privacy is not a laughing matter. That's why the privacy policy is as simple
            as a pie chart with one slice: I don't use analytics tools. Period. My website is like an open book, specifically,
            an open-source book, where the only cookies you'll find are the ones in our break room—virtual, of course. So,
            browse with ease, knowing that the only one tracking your moves on our site is you—because your digital footprint is
            your own business, not mine!
            <br/>
            <br/>
            You can find the project repository right <a href="https://github.com/AvogatoWizardWhisker/MyPersonalSite" target="_blank">here</a>.
        </p>
    </div>
</div>


