@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p class="align-content-center">This website doesn't have any analytic tools or telemetry to collect browsing data.
    <br />
    This website is open source and you can find the project repository right <a href="https://github.com/AvogatoWizardWhisker/MyPersonalSite" target="_blank">here</a>.
</p>

