@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-center">@ViewData["Title"] 🔎</h1>
<hr />
<p>
    I believe your privacy is not a laughing matter. That's why the privacy policy is as simple
    as a pie chart with one slice: I don't use analytics tools. Period. My website is like an open book, specifically,
    an open-source book, where the only cookies you'll find are the ones in my break room—virtual, of course. So,
    browse with ease, knowing that the only one tracking your moves on my site is you—because your digital footprint is
    your own business, not mine!
    <br />
    You can find the project repository right <a class="link-offset-2" href="https://github.com/AvogatoWizardWhisker/MyPersonalSite" target="_blank">here</a>.
</p>