@page
@model MyPersonalSite.Pages.ProjectsModel
@{
    ViewData["Title"] = "GitHub Projects";
}

<h1 class="text-center">My Open Source Project on GitHub</h1>
<hr />

<div class="card-body align-content-center">
    Discover My Open Source Projects: a collection of code born from my self-taught journey in software development.
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card bg-transparent border-primary">
            <img src="~/img/console-calculator.png"
            class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Calculator Console app</h5>
                <p class="card-text">
                    This is a simple console calculator applications where you do basic arithmetic operations.
                </p>
                <a class="card-link" href="https://github.com/AvogatoWizardWhisker/CalculatorApp" target="_blank">
                    Link to the repo
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-transparent border-primary">
            <img src="~/img/guess-it-right.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Guess It Right</h5>
                <p class="card-text">
                    A fun little console game where you try to guess a randomized number.
                </p>
                <a class="card-link" href="https://github.com/AvogatoWizardWhisker/CalculatorApp" target="_blank">
                    Link to the repo
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-transparent border-primary">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Console Apps</h5>
                <p class="card-text">
                    This project contains multiple console applications in one place.
                </p>
                <a class="card-link" href="https://github.com/AvogatoWizardWhisker/Console-Apps" target="_blank">
                    Link to the repo
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-transparent border-primary">
            <img src="~/img/avogato-website.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">My Personal Website</h5>
                <p class="card-text">
                    This following repository contains the source code from this website you're currently viewing.
                </p>
                <a class="card-link" href="https://github.com/AvogatoWizardWhisker/CalculatorApp" target="_blank">
                    Link to the repo
                </a>
            </div>
        </div>
    </div>
</div>