@page
@model MyPersonalSite.Pages.ToolsModel
@{
    ViewData["Title"] = "Tech I use";
}
<h1 class="text-center">
    Here are the hardwares I use in daily 🔰
</h1>
<hr />
<div class="h2">Computers</div>
<hr />
<div class="row">
    <div class="col-lg-5 align-content-lg-center">
        <img src="img/Omen2018.png" alt="HP Omen laptop 2018 model" class="img-fluid" height="1000" width="1000" />
    </div>
    <div class="col-lg-5 pt-4 pt-lg-0 align-content-center">
        <h3>HP Omen 15 (2018 model)</h3>
        <p>The HP Omen 15 is a testament to durability and versatility, serving you well for four years! With its robust
            Intel i7 8750h processor, a hefty 24GiB of RAM, and the Nvidia GTX 1050 graphics card, it's no wonder it has
            stood the test of time. Whether it's gaming, document work, or programming, this machine proves to be a
            reliable companion for all my computing needs. Here's to many more years of productivity and learning with
            my trusty HP Omen 15!</p>
    </div>
    <hr />
    <div class="col-lg-5 align-content-lg-center">
        <img src="img/lenovo-ideapad-flex-5.png" alt="Lenovo IdeaPad Flex 5 14AlC05" class="img-fluid" />
    </div>
    <div class="col-lg-5 pt-4 pt-lg-0 align-content-center">
        <h3>Lenovo IdeaPad Flex5 14AlC05</h3>
        <p>The Lenovo Ideapad Flex with an AMD Ryzen 5 5500U and 8GiB RAM is like a Swiss Army knife; versatile but
            sometimes you wish it had just one more tool—or in this case, a bit more RAM. It's the digital equivalent of
            trying to stuff a king-sized comforter into a washing machine—it can work, but it's a tight squeeze! If your
            laptop were a superhero, it would be RAM-man, always on the edge of needing just one more gigabyte to save
            the day.</p>
    </div>
    <hr />
    <div class="col-lg-5 align-content-lg-center">
        <img src="img/dell-vostro-230.png" alt="Dell Vostro 230" class="img-fluid" />
    </div>
    <div class="col-lg-5 pt-4 pt-lg-0 align-content-center">
        <h3>Lenovo IdeaPad Flex5</h3>
        <p> Ah, the Dell Vostro 230, a classic machine that now enjoys a peaceful retirement in the cozy corner of your
            bedroom. It's like a digital time capsule, isn't it? From the bustling days of Windows XP to the daring leap
            into Windows 10, it's no wonder it prefers a quiet life of dust-gathering.
        </p>
    </div>
</div>
<hr />
<div class="h2">Mobile Phones</div>
<hr/>
<div class="row">
    <div class="col-lg-5 align-content-lg-center">
        <img src="img/Note10Lite.png" alt="Samsung Galaxy Note 10 Lite phone" class="img-fluid" height="500" width="400"/>
    </div>
    <div class="col-lg-5 pt-4 pt-lg-0 align-content-center">
        <h3>Samsung Galaxy Note 10 Lite</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at eius obcaecati repudiandae. A adipisci
            asperiores at consequuntur dicta distinctio dolorum eligendi esse, explicabo ipsum itaque molestias
            necessitatibus porro, suscipit.</p>
    </div>
    <hr/>
    <div class="col-lg-5 align-content-lg-center">
        <img src="img/nokia-5.png" alt="Nokia 5 phone" class="img-fluid" height="500" width="400"/>
    </div>

    <div class="col-lg-5 pt-4 pt-lg-0 align-content-center">
        <h3>Nokia 5</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at eius obcaecati repudiandae. A adipisci
            asperiores at consequuntur dicta distinctio dolorum eligendi esse, explicabo ipsum itaque molestias
            necessitatibus porro, suscipit.</p>
    </div>
</div>
