@page
@model MyPersonalSite.Pages.ToolsModel
@{
    ViewData["Title"] = "Tools";
}
<h2 class="text-center">
    Here are the tools I used to build this website 🔰
</h2>
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Tools</th>
            <th>Comment(?)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">
                <img class="card-img-top col-lg-5" src="~/img/dotnet-logo.svg" alt="dotnet logo" height="100" width="100" />
            <td>This framework is used with ASP.NET with Razor Pages.</td>
            </th>
        </tr>

        <tr>
            <th scope="row">
                <img class="card-img-top col-lg-5" src="~/img/Visual_Studio_Icon_2022.svg" alt="Visual Studio 2022 logo" height="80" width="80" />
            <td>This is the IDE I used to build this website.</td>
            </th>
        </tr>

        <tr>
            <th scope="row">
                <img class="card-img-top col-lg-5" src="~/img/bootstrap-5-logo-icon.png" alt="Bootstrap logo"/>
            <td>This gorgeous tool makes your website <i>so stylish.</i></td>
            </th>
        </tr>
    </tbody>
</table>

@* <div class="row">
    <div class="col-lg-5">
        <img class="img-fluid float-end" src="~/img/dotnet-logo.svg" alt="dotnet logo" height="100" width="100" />
    </div>
    <div class="col-lg-7 pt-4 pt-lg-0 align-content-center">
        This framework is used with ASP.NET with Razor Pages.
    </div>
    <br />
    <div class="col-lg-5">
        <img class="img-fluid float-end" src="~/img/Bootstrap_logo.svg" alt="Bootstrap logo" height="100" width="100" />
    </div>
    <div class="col-lg-7 pt-4 pt-lg-0 align-content-center">
        This framework is used with ASP.NET with Razor Pages.
    </div>
</div> *@
