@page
@model MyPersonalSite.Pages.ToolsModel
@{
    ViewData["Title"] = "My setups";
}
<h1 class="text-center">
    Here are the hardware I use in daily 🔰
</h1>
<hr />
<div class="h2">Computers</div>
<hr />
<div class="row">
    <div class="col-lg-5 align-content-lg-center">
        <img src="img/hp-omen-2018.png" alt="HP Omen laptop 2018 model" class="img-fluid" height="1000" width="1000" />
    </div>
    <div class="col-lg-5 pt-4 pt-lg-0 align-content-center">
        <h3>HP Omen 15 (2018 model)</h3>
        <p>The HP Omen 15 is a testament to durability and versatility, serving me well for four years! With its robust
            Intel i7 8750h processor, a hefty 24GiB of RAM, and the Nvidia GTX 1050 graphics card, it's no wonder it has
            stood the test of time. Whether it's gaming, document work, or programming, this machine proves to be a
            reliable companion for all my computing needs. Here's to many more years of productivity and learning with
            my trusty HP Omen 15!</p>
    </div>
    <hr />
    <div class="col-lg-5 align-content-lg-center">
        <img src="img/lenovo-ideapad-flex-5.png" alt="Lenovo IdeaPad Flex 5 14AlC05" class="img-fluid" />
    </div>
    <div class="col-lg-5 pt-4 pt-lg-0 align-content-center">
        <h3>Lenovo IdeaPad Flex5 14AlC05</h3>
        <p>The Lenovo Ideapad Flex with an AMD Ryzen 5 5500U and 8GiB RAM is like a Swiss Army knife; versatile but
            sometimes you wish it had just one more tool—or in this case, a bit more RAM. It's the digital equivalent of
            trying to stuff a king-sized comforter into a washing machine—it can work, but it's a tight squeeze! If your
            laptop were a superhero, it would be RAM-man, always on the edge of needing just one more gigabyte to save
            the day.</p>
    </div>
    <hr />
    <div class="col-lg-5 align-content-lg-center">
        <img src="img/dell-vostro-230.png" alt="Dell Vostro 230" class="img-fluid" />
    </div>
    <div class="col-lg-5 pt-4 pt-lg-0 align-content-center">
        <h3>Dell Vostro 230</h3>
        <p> Ah, the Dell Vostro 230, a classic machine that now enjoys a peaceful retirement in the cozy corner of your
            bedroom. It's like a digital time capsule, isn't it? From the bustling days of Windows XP to the daring leap
            into Windows 10, it's no wonder it prefers a quiet life of dust-gathering.
        </p>
    </div>
</div>
<br />
<br />
<div class="h2">Display & Accessories</div>
<hr />
<div class="row">
    <div class="col-lg-5 align-content-lg-center">
        <img src="img/msi-g271-optix.png" alt="MSI G271 Optix" class="img-fluid" />
    </div>
    <div class="col-lg-5 pt-4 pt-lg-0 align-content-center">
        <h3>MSI G271 Optix</h3>
        <p>
            The MSI G271 Optix—my glorious gateway to gaming nirvana! Upgrading from my laptop screen was like swapping
            a tricycle for a Ferrari. Suddenly, my games exploded with colors more vibrant than a parrot on a tropical
            vacation, and the buttery-smooth frame rates turned every movement into a Michael Jackson moonwalk. It’s
            like my games decided to level up just to keep pace with the sheer awesomeness of my new monitor. Basically,
            if you’re still gaming on a laptop screen, you might as well be watching paint dry while I’m out here in 4K
            Ultra HD heaven.
        </p>
    </div>
    <hr />
    <div class="col-lg-5 align-content-lg-center">
        <img src="img/hp-omen-vector-wireless-mouse.png" alt="Omen Vector Wireless Mouse" class="img-fluid" />
    </div>
    <div class="col-lg-5 pt-4 pt-lg-0 align-content-center">
        <h3>Omen Vector Wireless Mouse</h3>
        <p>
            Omen Vector—the magical wand of my gaming arsenal! Upgrading to this mouse was like going from a rusty old
            bicycle to a sleek, futuristic hoverboard. My laptop experience? It’s as if my computer started bowing down
            to its new master. Gaming has never been smoother; each click is as satisfying as popping bubble wrap. And
            the precision? Let's just say I went from potato aim to sharpshooter real quick. Basically, if your mouse
            isn’t the Omen Vector, you’re just dragging a brick around !
        </p>
    </div>
    <hr />
    <div class="col-lg-5 align-content-lg-center">
        <img src="img/asus_rog_chakram_x.png" alt="Omen Vector Wireless Mouse" class="img-fluid" />
    </div>
    <div class="col-lg-5 pt-4 pt-lg-0 align-content-center">
        <h3>Asus ROG Chakram</h3>
        <p>
            The Asus ROG Chakram isn’t just a gaming mouse—it’s the gaming Jedi’s lightsaber! With its sleek design and a joystick built right into the side, you might as well be piloting your own starship across gaming galaxies. And let’s not forget, it’s a significant upgrade from the trusty Omen Vector Mouse, whose poor buttons finally waved their little white flag after countless gaming battles. The Chakram arrives like a hero, whispering, “Don’t worry, I’ll carry you through countless victories—no button malfunctions here!” It’s not just a mouse; it’s a love letter to your competitive gaming soul. 🖱️✨
        </p>
    </div>
</div>
<br />
<br />
<div class="h2">Mobile Phones</div>
<hr />
<div class="row">
    <div class="col-lg-5 align-content-lg-center">
        <img src="img/Samsung-galaxy-s24-fe-5g-mint-256gb-8gb-ram-Front-Back-View.png" alt="Samsung Galaxy S24 Fan Edition phone" class="img-fluid" height="500"
             width="400" />
    </div>
    <div class="col-lg-5 pt-4 pt-lg-0 align-content-center">
        <h3>Samsung Galaxy S24 FE</h3>
        <p>Meet my shiny new Samsung Galaxy S24 FE—the flashy upgrade from my trusty (but slightly outdated) Galaxy Note 10 Lite. Don’t get me wrong, the Note 10 Lite is still kicking—like that one friend who insists on using a wired headphone jack and refuses to die. But the S24 FE? It’s like swapping a bicycle for a jetpack. Everything’s faster, smoother, and doesn’t beg for a charger by lunchtime. I still keep the Note 10 Lite around, though—mostly for nostalgia, and also because it’s now my official ‘backup phone for when I inevitably drop the new one.’ Progress is great, but hey, old habits (and old phones) die hard!</p>
    </div>
    <hr />
    <div class="col-lg-5 align-content-lg-center">
        <img src="img/galaxy-note-10-lite.png" alt="Samsung Galaxy Note 10 Lite phone" class="img-fluid" height="500"
            width="400" />
    </div>
    <div class="col-lg-5 pt-4 pt-lg-0 align-content-center">
        <h3>Samsung Galaxy Note 10 Lite</h3>
        <p>My Samsung Galaxy Note 10 Lite is like that ageless wizard who just keeps getting better with time. Four
            years in, and it’s still running smoother than a barista's latte art. Sure, it might not get the latest
            software updates anymore, but who needs 'em when you've got the trusty S Pen making Sudoku sessions feel
            like solving mysteries with Sherlock Holmes? It’s like the phone refuses to age, and every game of Sudoku is
            a thrilling whodunit. Basically, this phone is the Benjamin Button of tech gadgets—just keeps getting more
            delightful! </p>
    </div>
    <hr />
    <div class="col-lg-5 align-content-lg-center">
        <img src="img/nokia-5.png" alt="Nokia 5 phone" class="img-fluid" height="500" width="400" />
    </div>

    <div class="col-lg-5 pt-4 pt-lg-0 align-content-center">
        <h3>Nokia 5</h3>
        <p>the noble Nokia 5—my digital dinosaur! This relic struggles to open the photos app without having a mini
            heart attack. With 16GB of storage, 85% of which is crammed with nostalgia, and 2GB of RAM wheezing like an
            asthmatic turtle, it's no wonder it’s been retired to backup status. This phone is the technology equivalent
            of that one friend who still uses dial-up internet. But hey, it's there for emergencies and the occasional
            trip down memory lane!</p>
    </div>
</div>
