<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Solus's website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyPersonalSite.styles.css" asp-append-version="true" />
    <meta name="theme-color" content="#dd940d" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="canonical" href="https://avogatowizardwhisker.azurewebsites.net/">
    <!-- OpenGraph -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://avogatowizardwhisker.azurewebsites.net/" />
    <meta property="og:title" content="@ViewData["Title"] - SolusDracoCat" />
    <meta property="og:description" content="Explore my boring website I made from scratch" />
    <meta property="og:image" content="https://th.bing.com/th/id/OIG4.Vrv8a41ZNcP7sLS5m2MA?pid=ImgGn" />
    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary" />
</head>

<body class="dark-theme">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container" >
                <nav class="navbar">
                    <div class="container-fluid">
                        <span class="navbar-brand mb-0 h1" >Solus's Website🥑</span>
                    </div>
                </nav>
                <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="navbar-brand mb-0 h1 nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand mb-0 h1 nav-link" asp-area="" asp-page="/Tools">Setup</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand mb-0 h1 nav-link" asp-area="" asp-page="/Projects">Projects</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
         <div class="container">
            &copy; 2024 - SolusDracoCat - <a class="link-offset-2 link-underline link-underline-opacity-0" asp-area="" asp-page="/Privacy">Privacy</a> - <a class="link-offset-2 link-underline link-underline-opacity-0" asp-area="" asp-page="/Contacts">Find me</a>
            <div class="float-end">
                <button type="button" class="btn btn-primary" id="theme-switcher">Dark Mode</button>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>